<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ProjectServlets</display-name>
	<!-- WELCOME FILE -->
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>indexServletsClase.html</welcome-file>
	    <welcome-file>indexServletEmpleado.html</welcome-file>	    
		<welcome-file>logging.html</welcome-file>				
	</welcome-file-list>
	
	
	
	<!-- SERVLET EMPLEADO BEAN -->
	<servlet>
		<description>ServletEjerBean</description>
		<display-name>ServletEjerBean</display-name>
		<servlet-name>ServletEjerBean</servlet-name>
		<servlet-class>comun.ServletEjerBean</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEjerBean</servlet-name>
		<url-pattern>/ServletEjerBean</url-pattern>
	</servlet-mapping>
	
	<!-- SERVLET QUE MUESTRA LA FECHA Y LA HORA -->
	<servlet>
		<description>Servlet Hora</description>
		<display-name>ServletHora</display-name>
		<servlet-name>ServletHora</servlet-name>
		<servlet-class>comun.ServletHora</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletHora</servlet-name>
		<url-pattern>/ServletHora</url-pattern>
	</servlet-mapping>
	
	<!-- SERVLET DE PRUEBA -->
	<servlet>
		<description>Ejemplo de prueba</description>
		<display-name>MiServlet</display-name>
		<servlet-name>MiServlet</servlet-name>
		<servlet-class>ClaseUno</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiServlet</servlet-name>
		<url-pattern>/MiServlet</url-pattern>
	</servlet-mapping>

	<!-- SERVLET PARA INCREMENTAR EL SALARIO 1.2 -->
	<servlet>
		<description>Servlet Datos de Empleado JDBC</description>
		<display-name>ServletDatosEmpleadoJDBC</display-name>
		<servlet-name>ServletDatosEmpleadoJDBC</servlet-name>
		<servlet-class>comun.ServletEmpleadosJDBC</servlet-class>	
		<init-param>
		    <param-name>incr</param-name>
		    <param-value>1.2</param-value>
		</init-param>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDatosEmpleadoJDBC</servlet-name>
		<url-pattern>/DatosEmpleadoJDBC</url-pattern>
	</servlet-mapping>
	
	<!-- SERVLET PARA RECUPERAR LOS DATOS DE UN EMPLEADO -->
	<servlet>
		<description>Servlet Datos de Empleado HIBERNATE</description>
		<display-name>ServletDatosEmpleadoHIBERNATE</display-name>
		<servlet-name>ServletDatosEmpleadoHIBERNATE</servlet-name>
		<servlet-class>comun.ServletEmpleadosHIBERNATE</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDatosEmpleadoHIBERNATE</servlet-name>
		<url-pattern>/DatosEmpleadoHIBERNATE</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Servlet Autenticación Usuario JDBC</description>
		<display-name>ServletAutenticacionUsuarioJDBC</display-name>
		<servlet-name>ServletAutenticacionUsuarioJDBC</servlet-name>
		<servlet-class>comun.ServletUsuariosJDBC</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAutenticacionUsuarioJDBC</servlet-name>
		<url-pattern>/AutenticacionUsuarioJDBC</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Servlet Prueba Sesión</description>
		<display-name>ServletPruebaSesion</display-name>
		<servlet-name>ServletPruebaSesion</servlet-name>
		<servlet-class>comun.ServletSesion</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletPruebaSesion</servlet-name>
		<url-pattern>/ServletPruebaSesion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Listar Departamentos</description>
		<display-name>ServletListarDepartamentos</display-name>
		<servlet-name>ServletListarDepartamentos</servlet-name>
		<servlet-class>comun.ServletListarDepartamentos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletListarDepartamentos</servlet-name>
		<url-pattern>/ServletListarDepartamentos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Listar Empleados Por Departamento</description>
		<display-name>ServletListarEmpleadosPorDepartamento</display-name>
		<servlet-name>ServletListarEmpleadosPorDepartamento</servlet-name>
		<servlet-class>comun.ServletListarEmpleadosPorDepartamento</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletListarEmpleadosPorDepartamento</servlet-name>
		<url-pattern>/ServletListarEmpleadosPorDepartamento</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Servlet Cookies</description>
		<display-name>ServletCookies</display-name>
		<servlet-name>ServletCookies</servlet-name>
		<servlet-class>comun.ServletCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCookies</servlet-name>
		<url-pattern>/ServletCookies</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Servlet Error</description>
		<display-name>ServletError</display-name>
		<servlet-name>ServletError</servlet-name>
		<servlet-class>comun.ServletError</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletError</servlet-name>
		<url-pattern>/ServletError</url-pattern>
	</servlet-mapping>

	<!-- LISTENERS -->
	<listener>
		<listener-class>comun.ImplHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>comun.ImplServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>comun.ImplServletRequestListener</listener-class>
	</listener>

	<!-- FILTERS -->
	<filter>
		<filter-name>FiltroJDBC</filter-name>
		<filter-class>comun.ImplFilterJDBC</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroJDBC</filter-name>
		<url-pattern>/DatosEmpleadoJDBC</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>FiltroHIBERNATE</filter-name>
		<filter-class>comun.ImplFilterHIBERNATE</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroHIBERNATE</filter-name>
		<url-pattern>/DatosEmpleadoHIBERNATE</url-pattern>
	</filter-mapping>	
	
	<filter>
		<filter-name>FiltroLogin</filter-name>
		<filter-class>comun.ImplFilterLogin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroLogin</filter-name>
		<url-pattern>/DatosEmpleadoJDBC</url-pattern>
		<url-pattern>/DatosEmpleadoHIBERNATE</url-pattern>
		<url-pattern>/DatosEmpleadoHIBERNATE</url-pattern>
		<url-pattern>/ServletPruebaSesion</url-pattern>
		
		
		
	</filter-mapping>	
	
	<context-param>
	    <param-name>saludo</param-name>
	    <param-value>hola</param-value>
	</context-param>
	
	
	<session-config>
      <session-timeout>2</session-timeout>
   </session-config>
   
	<error-page>
		<error-code>404</error-code> 
		<location>/ServletError</location> 
	</error-page> 
	
</web-app>